In [18]:
# get data from .json file to a dataframe

import pandas as pd

# read json file
df = pd.read_json('events_European_Championship.json')
df.head()

df_cleaned = (
    df[['id', 'eventId', 'subEventName', 'tags', 'playerId', 'positions', 'matchId', 'eventName', 'teamId', 'matchPeriod', 'eventSec', 'subEventId']]
    .explode('tags')
    .explode('positions')
    # then we can use the .apply() method to extract the x and y coordinates
    .assign(x = lambda df: df['positions'].apply(lambda x: x['x']))
    .assign(y = lambda df: df['positions'].apply(lambda x: x['y']))
    .drop(columns=['positions'])
)


df_cleaned.head()

,id,eventId,subEventName,tags,playerId,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,x,y
0,88178642,8,Simple pass,{'id': 1801},26010,1694390,Pass,4418,1H,1.255990,85,50,48
0,88178642,8,Simple pass,{'id': 1801},26010,1694390,Pass,4418,1H,1.255990,85,47,50
1,88178643,8,Simple pass,{'id': 1801},3682,1694390,Pass,4418,1H,2.351908,85,47,50
1,88178643,8,Simple pass,{'id': 1801},3682,1694390,Pass,4418,1H,2.351908,85,41,48
2,88178644,8,Simple pass,{'id': 1801},31528,1694390,Pass,4418,1H,3.241028,85,41,48